.contact-intro , .contact-email{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-email {
  margin-top: 80px;
  
}

.contact-question , .email-title{
  font-size: 30px;
  font-weight: 800;
  color: var(--main-text);
}

.contact-sub , .email-sub{
  font-size: 20px;
  font-weight: 600;
  color: var(--main-text);
}

.contact-container{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--main-text);
}

.contact-icon {
  font-size: 35px;
}

.contact-name {
  margin-top: 8px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 20px;
}

.contact-desc {
  font-size: 18px;
  font-weight: 500;
}

.email-me {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.form-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form-email .contact-inputs , select {
  height: 70px;
  width: 450px;
  padding: 20px;
  font-size: 17px;
  border-radius: 10px;
  border: 1px solid var(--main-text);
  background-color: #e4d5f1; 
  box-shadow: 1px 1px 2px var(--main-text);
}

.form-email #email-message {
  height: 180px;
  resize: none;    
}

.contact-inputs::placeholder {
  color: var(--main-text);
}

.email-buttons {
  display: flex;
  gap: 20px;
}

.email-buttons button {
  height: 50px;
  width: 130px;
  border-radius: 30px;
  border: 1px solid var(--main-text);

  cursor: pointer;
  font-size: 15px;
}

.send-button {
  background-color: var(--main-text);
  color: var(--main-bg);
  transition: all ease-in-out 0.2s;
}

.send-button:hover {
  background-color: rgba(26, 5, 45, 0.8); 
  color: var(--main-bg);
}

.clear-button {
  background-color: #c2aed6; 
  color: var(--main-text);
  transition: all ease-in-out 0.2s;
}

.clear-button:hover {
  background-color:rgba(208, 191, 225, 0.5); 
  color: var(--main-text);
}

.connect-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 5px;
  color: var(--main-text);
}

.socials {
  display: flex;
  font-size: 30px;
  gap: 7px;
}

.social-icon i{
  color: var(--main-text);
}

.social-icon i:hover{
  color: #411667;
}