* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto slab", Arial;
}

:root {
  --main-bg: #d6c4e6;        
  --main-text: #1a052d;      
  --secondary-color: #b498cf; 
  --hover-color: #cfb5ed;    
  --active-color: #CDB4DB;   
}

body {
  min-height: 100vh;
  background-color: var(--main-bg);
  
}

section {
  padding-top: 80px;
}

.head {
  font-size: 70px;
  color: var(--main-text);
  display: flex;
  justify-content: center;

  font-weight: 1000;
  text-shadow: 10px 5px 0 rgba(123, 109, 228, 0.5);

}
