

.image-home {
  height: 470px;
  width: 100%;
  display: flex;
}

.image-home img {
  height: 450px;
  width: 25%;
  opacity: 0.8;
}

.bottom-home {
  height: auto;
}

.portfolio-title , .portfolio-sub-title  {
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: var(--main-text);
}
.portfolio-title {
  font-size: 110px;
  letter-spacing: 6px;
  padding: 0;
  text-shadow: 8px 5px 0 rgba(123, 109, 228, 0.5);
}

.portfolio-sub-title {
  font-size: 30px;
  letter-spacing: 2px;
  text-shadow: 3px 3px 0 rgba(123, 109, 228, 0.5);
}

